<div fxLayout="column" style="height: 100%">
  <div class="container" fxLayout="row" fxLayoutAlign="center start">
    <div class="video-container" fxFlex="60" fxFlex.xs="100">
      <div class="video-display-container">
          <video id="gum" class="video-player" playsinline autoplay muted></video>
      </div>
        
      <div id="recorded-player-container" class="recorded-player-container">
      </div>

    </div>
  </div>
  <div>
      <button id="start">Start camera</button>
      <button id="record" disabled>Start Recording</button>
      <!-- <button id="play" disabled>Play</button> -->
      <button id="download" disabled>Download</button>
      <button (click)="closeVideo()">Close</button>
  </div>
</div>
