.container{
    // height: 80vh;
    width: 100%;
    position: relative;
    .video-container{
        position: relative;
        // width: 60%;
        height: 100%;
    }
    
    .recorded-player-container{
        z-index: 100;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .video-display-container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .video-player{
           width: 100%;
           height: 100%;
        }
        .video-player {
            width: 100%;
            height: auto;
            object-fit: cover; // fill
        }
    
        @media only screen and (max-width: 600px) {
            .video-player{
                width: 100%;
                height: 80vh;
                object-fit: cover; // fill
            }
        }
    }

    // Buttons
    .videoButtonsContainer{
        // visibility: hidden;
        position: absolute;
        // bottom: 50px;
        z-index: 110;
        width: 100% !important;
        padding: 0 20px;
        background-color: rgba(255, 255, 255, 0.2);
        bottom: calc(100% - 80%);
    }
    
    .filterIcon{
        background-image: url(../../../assets/filterButton.png);
        height: 35px;
        width: 35px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 50ms ease-in;
    }
    .record-button{
        width: 40px;
        height: 40px;
        border: 5px solid white;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        background-color: rgb(255, 0, 0);
    }
    .sendButton{
        background-color: #40DFC6;
        color: white;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
    }
}
button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}


button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  vertical-align: top;
  --width: 25vw;
  width: var(--width);
  height: calc(var(--width) * 0.5625);
}

video:last-of-type {
  margin: 0 0 20px 0;
}

video#gumVideo {
  margin: 0 20px 20px 0;
}