html, body{
    margin: 0 !important;
    padding: 0 !important;
}
.video-player-container{
    // width: 100vw;
    // height: 100vh;

    .video-player-component-container{
        // background-color: rebeccapurple;
        // width: 60%;
        height: 80vh;
        position: relative;
    }
    
    .video-player{
        visibility: hidden;
        // max-width: 100%; 
        // max-height: 100%; 
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .recording-container{
        // visibility: hidden;
        max-width: 100%; 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
    }
    .video-player-canvas{
        max-width: 100%; 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media only screen and (max-width: 600px) {
        .video-player-component-container{
            height: 100%;
        }
        .video-player-canvas{
            height: 100vh;
        }
    }
    .record-button{
        width: 40px;
        height: 40px;
        border: 5px solid white;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        background-color: rgb(255, 0, 0);
    }

    .videoButtonsContainer{
        visibility: hidden;
        position: absolute;
        // bottom: 50px;
        z-index: 10;
        width: 100% !important;
        padding: 0 20px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .videoFilterContainer{
        // visibility: hidden;
        position: absolute;
        z-index: 10;
        width: 100% !important;
        // padding: 0 20px;
        background-color: white;
        overflow-x: auto;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
        overflow: -moz-scrollbars-none !important; 
        height: 120px;
    }
    .videoFilterContainer::-webkit-scrollbar { width: 0 !important }

    .filterIcon{
        background-image: url(../../../assets/filterButton.png);
        height: 35px;
        width: 35px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 50ms ease-in;
    }
    .sendButton{
        background-color: #40DFC6;
        color: white;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 15px;
    }
    .dark-shade{
        background-color: rgba(0, 0, 0, 0.308);
        border-radius: 5px;
    }

    .counter-display-container{
        position: absolute;
        top: 5%;
        // background-color: #40DFC6;
        z-index: 100;
        width: 100%;
    }
    .timer-text{
        font-family: sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: white;
        padding: 0;
        margin: 0;
    }
}

// .filterPicker {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     z-index: 9;
//     width: 50px;
//     height: 100%;
//   }
  
//   .filterOption {
//     width: 50px;
//     height: 50px;
//     border: 2px solid white;
//     border-radius: 50%;
//     color: white;
//     text-shadow: 0 0 2px black;
//     margin: 5px;
//     cursor: pointer;
//     text-align: center;
//   }
  
//   .filterOption span {
//     vertical-align: middle;
//     display: inline-block;
//     line-height: 48px;
//   }
  
//   #captureBtn {
//     width: 100px;
//     height: 100px !important;
//     border: 5px solid white;
//     border-radius: 50%;
//     background: none;
//     position: absolute;
//     left: calc(50% - 25px);
//     bottom: 50px;
//     z-index: 9;
//     cursor: pointer;
//     background-color: red;
//   }
  
//   div.recordingAnimation {
//     width: 70px;
//     height: 70px;
//     position: absolute;
//     left: calc(50% - 35px);
//     bottom: 40px;
//     z-index: 8;
//   }
  
//   div.container {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 9;
//   }
  
//   i.closeButton {
//     color: white;
//     font-size: 20pt;
//     text-shadow: 0 0 2px black;
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     z-index: 10;
//     height: 50px;
//     background-color: blueviolet;
//     cursor: pointer;
//   }
  
//   i.downloadButton {
//     color: white;
//     font-size: 20pt;
//     text-shadow: 0 0 2px black;
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//     z-index: 10;
//     height: 50px;
//     background-color: blueviolet;
//     cursor: pointer;
//   }
//   img.captureImage {
//     width: 400px !important;
//     height: 400px !important;
//     object-fit: cover;
//     transform: scaleX(-1);
//     height: 50px;
//     background-color: blueviolet;
//   }

//   video.captureVideo {
//     width: 400px !important;
//     height: 400px !important;
//     object-fit: cover;
//     transform: scaleX(-1);
//     height: 50px;
//     background-color: blueviolet;
//   }
  
    